/* Soluzione qui */

@media screen and (min-width: 360px){
    .recipe-video img{
        max-width: 100%;
    }

    .recipe-info{
        margin-top: 80px;
    }
}

@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    main{
        padding: 50px;
    }

    .recipe-name span{
        display:inline;
    }

    .recipe-name {
        font-size: 30px;
    }
    
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        margin-right: 40px;
    }

    .quick-notes ul li:nth-child(4){
        margin-right: 35px;
    }

    .social-networks .btn{
        width: calc(100% / 5);
    }

    .clearfix img{
        float: left;
        margin-right: 5px;
    }
}